nav{
    background: black;
    padding: 10px;
    text-align: right;
    margin: 40px;
}
nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
.perfil{
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
    border-radius:10px;
    border-color: #f12782;
    Margin: 0 auto;
    width: 300px;
    display: block;  
}

.picture{
    width: 300px;
}
.sobremua{
    text-align: center;
}
h2{
    text-align: center;
}

.card{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border: 2;
    text-align: left;
}
.contacto{
    text-align: center;
}



